<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" class="off">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<title>后台管理中心</title>
<link href="__PUBLIC__/css/reset.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/css/table_form.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/css/diy.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/css/zh-cn-system.css" rel="stylesheet" type="text/css" />
<script language="javascript" type="text/javascript" src="__PUBLIC__/js/jquery.min.js"></script>
<script language="javascript" type="text/javascript" src="__PUBLIC__/js/admin_common.js"></script>
<script language="javascript" type="text/javascript" src="__PUBLIC__/js/lhgcore.lhgcalendar.min.js"></script>
<script type="text/javascript">
  $(function(){
    $('#cal').calendar({btnBar:false});
});
</script>
</head>
<body>
  <style type="text/css">
  html{_overflow-y:scroll}
</style><div id="closeParentTime" style="display:none"></div>
<div class="pad-10">
<form action="{F:url('manage/add')}" method="post">
<table id="manage_add">
  <tr>
    <td width="80">订单主人:</td>
    <td><input type="text" name="username"/></td>
  </tr>
   <tr>
    <td>收货人:</td>
    <td><input type="text" name="shouhuoren"></td>
  </tr>
   <tr>
    <td>收货地址:</td>
    <td><input type="text" size="60" name="address"></td>
  </tr>
   <tr>
    <td>产品详情:</td>
    <td><textarea name="chanpin" id="" cols="30" rows="10"></textarea></td>
  </tr>
   <tr>
    <td>联系电话:</td>
    <td><input type="text" name="dianhua">邮编:<input type="text" name="youbian"></td>
  </tr>
   <tr>
    <td>物流:</td>
    <td>单号:<input type="text" name="wuliudanhao">
      <select name="wuliu" size="1" onChange="cod(this)">
      {loop $post $key $vo}
              <option value="{$vo}">{$vo}</option>
      {/loop}
      </select>
      <script language="javascript">function cod(obj){if(obj.value=="顺丰COD"||obj.value=="宅急送COD"){document.getElementById("cod").style.display = "block";}else{document.getElementById("cod").style.display = "none";}}</script>
      <span id="cod" style="display:none;">LC号:<input type="text" name="codlc"  size="30"></span>
    </td>
  </tr>
   <tr>
    <td>费用:</td>
    <td>代收款:<input type="text" name="daishoukuan">批发价:<input type="text" name="pifajia">邮费:<input type="text" name="youfei"><br />代收手续费:<input type="text" name="dsshouxufei">其他费用:<input type="text" name="qitafei"></td>
  </tr>
   <tr>
    <td>其他:</td>
    <td>是否参保:
      <select name="canbao" size="1">
      <option value="0" selected="">否</option>
      <option value="1">是</option>
    </select>
  是否短信:
      <select name="duanxin" size="1">
      <option value="0" selected="">否</option>
      <option value="1">是</option>
    </select>
  </td>
  </tr>
   <tr>
    <td>处理时间:</td>
    <td>下单时间:<span id="r"></span> 发货时间:<input id="cal" type="text" name="fahuotime"></td>
  </tr>
   <tr>
    <td>订单状态:</td>
    <td>是否发货:
      <select name="isfahuo">   
         <option value="0" selected>未发货</option>
         <option value="1">已发货</option>
         <option value="2">退货</option>
         <option value="3">成功</option>
         </select>
        是否结算:
      <select name="isjiesuan" size="1">
      <option value="0" selected="">未结算</option>
      <option value="1">已结算</option>
    </select>
       </td>
  </tr>
   <tr>
    <td>结账id:</td>
    <td>还没有结账</td>
  </tr>
   <tr>
    <td>最后盈利:</td>
    <td><input type="text" name="yingli">元 <span id="r">注:如果退货请用负数表示</span></td>
  </tr>
   <tr>
    <td>备注:</td>
    <td><textarea name="beizhu" id="" cols="30" rows="10"></textarea></td>
  </tr>
   <tr>
    <td></td>
    <input type="hidden" name="do" value="yes"/>
    <td id="bt"><input class="Ybutton" type="submit" value="添加"><input class="Ybutton" type="reset" value="重置"><input class="Ybutton" type="button" value="返回上一页" onclick="javascript:window.history.go(-1);"></td>
  </tr>
</table>
</form>
</div>
</body>
</html>