{include file="header"}
<script language="javascript" type="text/javascript" src="__PUBLIC__/js/lhgdialog.min.js?skin=chrome"></script>
<div id="memberArea">
{include file="left"}
<div class="col-auto">
<div class="col-1 ">
<h6 class="title">订单管理</h6>
<div class="content">
<form name="searchform" action="{F:url('manage/index')}" method="get" >

		<div class="search">
		<input name="keyword" id="keyword" type="text" size="25" value="{$_GET['keyword']}" class="input-text"/>
					<input type="hidden" name="do" value="yes">
		
		<input type="submit" value=" 搜 索 " class="button" name="dosubmit">
		</div>
</form>
<table width="100%" cellspacing="0"  class="table-list">
        <thead>
            <tr>
            <th>编号</th>
            <th>收货人</th>
            <th>快递公司</th>
            <th>发货单号</th>
            <th>发货日期</th>
            <th>代收款</th>
            <th>批发价</th>
            <th>邮费</th>
            <th>结账</th>
            <th>状态</th>
            <th>操作</th>
            </tr>
        </thead>
    <tbody>
	{if empty($data)}
					<tr id="empty" align="center">
						<td colspan="11">没有记录</td>
					</tr>
					{else}
					{loop $data $key $vo}
					<tr align="center">
						<td>{php echo $key+1}</td>
						<td>{$vo.shouhuoren}</td>
						<td>{$vo.wuliu}</td>
						<td>
						{if !empty($vo['wuliudanhao'])}
							{loop $post $k $v}
						      {if $vo['wuliu']==$v}
						        <a onclick="urldialog('查询物流结果','__URL__/kuaidi100?com={$postapi[$k]}&nu={$vo.wuliudanhao}')" href="javascript:;">{$vo.wuliudanhao}</a>
						      {/if}
						    {/loop}
						{/if}
						</td>
						<td>{$vo.fahuotime}</td>
						<td>{$vo.daishoukuan}</td>
						<td>{$vo.pifajia}</td>
						<td>{$vo.youfei}</td>
						<td>{$vo.yingli}</td>
						<td>
					<?php
					switch ($vo['isfahuo']){
						case '0':
						$vo['isfahuo'] = "未发货";
					break;
						case '1':
						$vo['isfahuo'] = "已发货";
					break;
						case '2':
						$vo['isfahuo'] = "退货";
					break;
						case '3':
						$vo['isfahuo'] = "成功";
					break;
						default:
						$vo['isfahuo'] = "未发货";
					break;
					}

					switch ($vo['isjiesuan']){
						case '0':
						$vo['isjiesuan'] = "未结算";
					break;
						case '1':
						$vo['isjiesuan'] = "已结算";
					break;
						default:
						$vo['isjiesuan'] = "未结算";
					break;
        			}
       				?>
							{$vo.isfahuo}-{$vo.isjiesuan}</td>
						<td><a href="{F:url('manage/show',array('id'=>$vo['id']))}">详情</a></td>
					</tr>
					{/loop}
					{/if}
    </tbody>
    </table>

 <div id="pages"> {$page}</div>
</div>
<span class="o1"></span><span class="o2"></span><span class="o3"></span><span class="o4"></span>
</div>

</div>
</div>
{include file="footer"}
