<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" class="off">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<title>后台管理中心</title>
<link href="__PUBLIC__/css/reset.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/css/table_form.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/css/dialog.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/edit/themes/default/default.css" rel="stylesheet" type="text/css" />
<script language="javascript" type="text/javascript" src="__PUBLIC__/js/jquery.min.js"></script>
<script language="javascript" type="text/javascript" src="__PUBLIC__/js/admin_common.js"></script>
<script language="javascript" type="text/javascript" src="__PUBLIC__/js/formvalidator.js"></script>
<script language="javascript" type="text/javascript" src="__PUBLIC__/js/formvalidatorregex.js"></script>
<script language="javascript" type="text/javascript" src="__PUBLIC__/js/colorpicker.js"></script>
<script language="javascript" type="text/javascript" src="__PUBLIC__/edit/kindeditor-min.js"></script>
<script language="javascript" type="text/javascript" src="__PUBLIC__/edit/lang/zh_CN.js"></script>
</head>
<body>
<script>
        var editor;
        KindEditor.ready(function(K) {
             var editor = K.editor({
                allowFileManager : true
        }); 
        K('#image1').click(function() {
editor.loadPlugin('image', function() {
editor.plugin.imageDialog({
imageUrl : K('#url1').val(),
clickFn : function(url, title, width, height, border, align) {
K('#url1').val(url);
editor.hideDialog();
}
});
});
}); 
        });
</script>
<style type="text/css">
  html{_overflow-y:scroll}
</style><script type="text/javascript">
<!--
  var charset = 'utf-8';
  var uploadurl = '__ROOT__/upload/';

  function check_form(obj){
  if(obj.name.value=='')
  {
    alert('链接名不能为空');
    obj.name.focus();
    return false;
  }
  return true;
}
//-->
</script>
<script language="javascript" type="text/javascript" src="__PUBLIC__/js/content_addtop.js"></script>
<form name="myform" id="myform" action="edit" method="post" enctype="multipart/form-data" onsublime="return check_form(document.myform)">
<div class="addContent">
    <a title="展开与关闭" class="r-close" hidefocus="hidefocus" style="outline-style: none; outline-width: medium;" id="RopenClose" href="javascript:;"><span class="hidden">展开</span></a>
    <div class="col-auto">
      <div class="col-1">
          <div class="content pad-6">
<table width="100%" cellspacing="0" class="table_form">
  <tbody> 
 <!--  <tr>
      <th width="80"> <font color="red">*</font> 栏目   </th>
      <td><input type="hidden" name="info[catid]" value="6">国内 <a href='javascript:;' onclick="omnipotent('selectid','?m=content&c=content&a=add_othors&siteid=1','同时发布到其他栏目',1);return false;" style='color:#B5BFBB'>[同时发布到其他栏目]</a><ul class='list-dot-othors' id='add_othors_text'></ul>  
        <select name="cid"  reg="." id="cid" >
        <option value="" disabled="disabled">选择分类</option>
        <?php foreach($cat as $vo){?>
         <option value="{$vo['id']}">{$vo['name']}</option>
        <?php }?>

      </td>
    </tr> -->
  <tr>
      <th width="80"> <font color="red">*</font> 链接名   </th>
      <td><input type="text" style="width:400px;" name="name" id="title" value="{$info['name']}" style="color:" class="measure-input" onkeyup="strlen_verify(this, 'title_len', 80)"/>
     <!--  <input type="hidden" name="style_color" id="style_color" value="">
      <input type="hidden" name="style_font_weight" id="style_font_weight" value="">
      <img src="http://localhost/phpcms/statics/images/icon/colour.png" width="15" height="16" onclick="colorpicker('title_colorpanel','set_title_color');" style="cursor:hand"/> 
    <img src="http://localhost/phpcms/statics/images/icon/bold.png" width="10" height="10" onclick="input_font_bold()" style="cursor:hand"/> <span id="title_colorpanel" style="position:absolute;" class="colorpanel"> --></span>还可输入<B><span id="title_len">80</span></B> 个字符  </td>
    </tr>
  <tr>
      <th width="80"> 链接URL   </th>
      <td><input type='text' name='url' id='keywords' value='{$info['url']}' style='width:280px'   class='input-text'></td>
    </tr>
   <tr>
      <th width="80"> 信息   </th>
      <td><input type='text' name='info' id='keywords' value='{$info['info']}' style='width:280px'   class='input-text'></td>
    </tr>
     <tr>
      <th width="80"> 图片   </th>
      <td> <input type='text' name='upload' value='{$info['pic']}' style='width:280px' id="url1"  class='input-text'>
        <input type="button" value="选择图片" id="image1" class="Ybutton">
      </td>
    </tr>
    <tr>
       <th width="80"></th>
      <td>
        <input type="hidden" name="do" value="yes">
        <input type="hidden" name="id" value="{$info['id']}">
        <input type="submit" value="发布" name="dosubmit" id="dosubmit" class="Ybutton">　
        <!-- <input type="reset" value="重置" name="reset" id="reset" class="aui_buttons aui_state_highlight"> -->
      </td>
    </tr>
    </tbody></table>
                </div>
          </div>
        </div>
        
    </div>
</div>
</form>
<div class="fixed-bottom">
  <div class="fixed-but text-c"></div>
</div>
</form>
</body>
</html>