<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" class="off">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<title>后台管理中心</title>
<link href="__PUBLIC__/css/reset.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/css/system.css" rel="stylesheet" type="text/css" />
<script language="javascript" type="text/javascript" src="__PUBLIC__/js/jquery.min.js"></script>
<style>
#loading {width: 100%;
height: 100%;
background: url("__PUBLIC__/images/loading.gif") center no-repeat;
}
</style>
</head>
<body scroll="no">
<div class="header">
	<div class="logo lf"><a href="#"><span class="invisible">内容管理系统</span></a></div>
    <div class="col-auto" style="overflow: visible">
    	<div class="log white cut_line">您好！{$_SESSION['admin_username']}  [{$name}]<span>|</span><a href="__URL__/logout">[退出]</a><span>|</span>
<!--    		<a href="" target="_blank" id="site_homepage">站点首页</a>-->
    	</div>
        <ul class="nav white" id="top_menu">
        <li id="_M10" class="on top_menu"><a href="javascript:_M(10,'__APP__/menu/my');" hidefocus="true" style="outline:none;">我的面板</a></li>
        <li id="_M1" class="top_menu"><a href="javascript:_M(1,'__APP__/menu/webset');"  hidefocus="true" style="outline:none;">设置</a></li>
        <!-- <li id="_M2" class="top_menu"><a href="javascript:_M(2,'__APP__/menu/editor');"  hidefocus="true" style="outline:none;">内容发布</a></li> -->
       <!--  <li id="_M3" class="top_menu"><a href="javascript:_M(3,'__APP__/menu/content');"  hidefocus="true" style="outline:none;">内容管理</a></li>
        <li id="_M4" class="top_menu"><a href="javascript:_M(4,'__APP__/menu/channel');"  hidefocus="true" style="outline:none;">栏目管理</a></li>
        <li id="_M5" class="top_menu"><a href="javascript:_M(5,'__APP__/menu/creathtml');"  hidefocus="true" style="outline:none;">网站更新</a></li> -->
        <li id="_M6" class="top_menu"><a href="javascript:_M(6,'__APP__/menu/manage');"  hidefocus="true" style="outline:none;">订单管理</a></li>
        <li id="_M7" class="top_menu"><a href="javascript:_M(7,'__APP__/menu/user');"  hidefocus="true" style="outline:none;">会员管理</a></li>
        <li id="_M8" class="top_menu"><a href="javascript:_M(8,'__APP__/menu/apply');"  hidefocus="true" style="outline:none;">结账管理</a></li>
        <li id="_M9" class="top_menu"><a href="javascript:_M(9,'__APP__/menu/admin');"  hidefocus="true" style="outline:none;">管理员管理</a></li>
        <li id="_M11" class="top_menu"><a href="javascript:_M(11,'__APP__/menu/other');"  hidefocus="true" style="outline:none;">其它管理</a></li>
        <!-- <li class="tab_web"><a href="javascript:;"><span></span></a></li> -->
        </ul>
    </div>
</div>
<div id="content">
	<div class="col-left left_menu">
    	<div id="leftMain">
        </div>
        <a href="javascript:;" id="openClose" style="outline-style: none; outline-color: invert; outline-width: medium;" hideFocus="hidefocus" class="open" title="展开与关闭"><span class="hidden">展开</span></a>
    </div>
<!--     <div style="position: absolute; z-index: 999; background: none repeat scroll 0% 0% rgb(255, 255, 255); left: 740px; top: 80px; display: none;" class="tab-web-panel hidden">
<ul>
	<li style="margin:0"><a href="?lang=zh">中文</a></li>
	<li style="margin:0"><a href="?lang=en">English</a></li>
</ul>
</div> -->
	<div class="col-1 lf cat-menu" id="display_center_id" style="display:none" height="100%">
		<div class="content">
        	<iframe name="center_frame" id="center_frame" src="" frameborder="false" scrolling="auto" style="border:none" width="100%" height="auto" allowtransparency="true"></iframe>
        </div>
    </div>
    <div class="col-auto mr8">
        <div class="crumbs">
           <!--  <div class="shortcut cu-span">
            	<a href="#" target="right"><span>生成首页</span></a>
                <a href="?m=admin&c=cache_all&a=init" target="right"><span>更新缓存</span></a>
                <a href="#"><span>后台地图</span></a></div> -->
        	当前位置：<span id="current_pos"></span></div>
            <div class="col-1" style="padding:10px">
                <div class="content" style="position:relative; overflow:hidden">
                    <iframe name="right" id="rightMain" src="__APP__/index/welcome" frameborder="false" scrolling="auto" style="overflow-x:hidden;border:none; margin-bottom:30px" width="100%" height="auto" allowtransparency="true"></iframe>
                    <div class="fav-nav">
                        <div id="panellist"></div>
                        <div id="paneladd"><a class="panel-add" href="javascript:add_panel();"><em>添加</em></a></div>
                    </div>
                </div>
            </div>
        </div>
</div>
<script type="text/javascript"> 
//clientHeight-0; 空白值 iframe自适应高度
function windowW(){
	if($(window).width()<980){
			$('.header').css('width',980+'px');
			$('#content').css('width',980+'px');
			$('body').attr('scroll','');
			$('body').css('overflow','');
	}
}
windowW();
$(window).resize(function(){
	if($(window).width()<980){
		windowW();
	}else{
		$('.header').css('width','auto');
		$('#content').css('width','auto');
		$('body').attr('scroll','no');
		$('body').css('overflow','hidden');
		
	}
});
window.onresize = function(){
	var heights = document.documentElement.clientHeight-150;document.getElementById('rightMain').height = heights;
	var openClose = $("#rightMain").height()+39;
	$('#center_frame').height(openClose+9);
	$("#openClose").height(openClose+30);	
}
window.onresize();
//站点下拉菜单
$(function(){
var offset = $(".tab_web").offset();
var tab_web_panel = $(".tab-web-panel");
$(".tab_web").mouseover(function(){
tab_web_panel.css({ "left": +$(this).offset().left+4, "top": +offset.top+$('.tab_web').height()});
tab_web_panel.show();
if(tab_web_panel.height() > 200){
tab_web_panel.children("ul").addClass("tab-scroll");
}
});

$(".tab_web span").mouseout(function(){hidden_site_list_1();});
$(".tab-web-panel").mouseover(function(){ clearh();$('.tab_web a').addClass('on')}).mouseout(function(){hidden_site_list_1();$('.tab_web a').removeClass('on')});

$.ajax({
	type:"get",
	url:"__APP__/index/lang",
	success:function(data){
		$(".tab_web span").html(data);
	}
})
});

//隐藏站点下拉。
var s = 0;
var h;
function hidden_site_list() {
s++;
if(s>=3) {
$('.tab-web-panel').hide();
clearInterval(h);
s = 0;
}
}
function clearh(){
if(h)clearInterval(h);
}
function hidden_site_list_1() {
h = setInterval("hidden_site_list()", 1);
}
$(function(){
	//默认载入左侧菜单
	$("#leftMain").load('__APP__/menu/my');
})

//左侧开关
$("#openClose").click(function(){
	if($(this).data('clicknum')==1) {
		$("html").removeClass("on");
		$(".left_menu").removeClass("left_menu_on");
		$(this).removeClass("close");
		$(this).data('clicknum', 0);
	} else {
		$(".left_menu").addClass("left_menu_on");
		$(this).addClass("close");
		$("html").addClass("on");
		$(this).data('clicknum', 1);
	}
	return false;
});
function _M(menuid,targetUrl) {
	$("#leftMain").load(targetUrl);
//	if(menuid!=8) {
//		$("#leftMain").load("?m=admin&c=index&a=public_menu_left&menuid="+menuid);
//	} else {
//		$("#leftMain").load("?m=admin&c=phpsso&a=public_menu_left&menuid="+menuid);
//	}
	
	//$("#rightMain").attr('src', targetUrl);
	$('.top_menu').removeClass("on");
	$('#_M'+menuid).addClass("on");
//	$.get("?m=admin&c=index&a=public_current_pos&menuid="+menuid, function(data){
//		$("#current_pos").html(data);
//	});
	//当点击顶部菜单后，隐藏中间的框架
	$('#display_center_id').css('display','none');
	//显示左侧菜单，当点击顶部时，展开左侧
	$(".left_menu").removeClass("left_menu_on");
	$("#openClose").removeClass("close");
	$("html").removeClass("on");
//	$("#openClose").data('clicknum', 0);
//	$("#current_pos").data('clicknum', 1);
}
function _MP(menuid,targetUrl) {
	$("#rightMain").attr('src', targetUrl);
	$('.sub_menu').removeClass("on fb blue");
	$('#_MP'+menuid).addClass("on fb blue");
	$("#current_pos").data('clicknum', 1);
}

</script>
</body>
</html>
