<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" class="off">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<title>后台管理中心</title>
<link href="__PUBLIC__/css/reset.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/css/table_form.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/css/diy.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/css/zh-cn-system.css" rel="stylesheet" type="text/css" />
<script language="javascript" type="text/javascript" src="__PUBLIC__/js/jquery.min.js"></script>
<script language="javascript" type="text/javascript" src="__PUBLIC__/js/admin_common.js"></script>
<script language="javascript" type="text/javascript" src="__PUBLIC__/js/lhgcore.lhgcalendar.min.js"></script>
<script type="text/javascript">
  $(function(){
    $('#cal').calendar({btnBar:false});
});
</script>
</head>
<body>
  <style type="text/css">
  html{_overflow-y:scroll}
</style><div id="closeParentTime" style="display:none"></div>
<div class="pad-10">
<form action="{F:url('user/edit')}" method="post">
<table id="manage_add">
  <tr>
    <td width="80">用户名:</td>
    <td><input type="text" name="username" id="" value="{$data.username}"/></td>
  </tr>
   <tr>
    <td>用户昵称:</td>
    <td><input type="text" name="xingming" value="{$data.xingming}"></td>
  </tr>
   <tr>
    <td>用户密码:</td>
    <td><input type="text" name="password" ></td>
  </tr>
   <tr>
    <td>用户性别:</td>
    <td>
      男
      <input type="radio" value="0" name="xingbie" {if $data['xingbie']==0}checked{/if}>
      <input type="radio" value="1" name="xingbie" {if $data['xingbie']==1}checked{/if}>
      女
    </td>
  </tr>
   <tr>
    <td>电话:</td>
    <td><input type="text" name="dianhua" value="{$data.dianhua}"></td>
  </tr>
   <tr>
    <td>QQ:</td>
    <td><input type="text" name="qq" id="" value="{$data.qq}"/></td>
  </tr>
   <tr>
    <td>地址:</td>
    <td>
      <input type="text" size="60" name="dizhi" id="" value="{$data.dizhi}"/>
    </td>
  </tr>
   <tr>
    <td>银行信息:</td>
    <td>
      <textarea name="yinhang" id="" cols="30" rows="10">{F:text_out($data['yinhang'])}</textarea>
  </td>
  </tr>
   <tr>
    <td>其它信息:</td>
    <td><textarea name="qita" id="" cols="30" rows="10">{F:text_out($data['qita'])}</textarea></td>
  </tr>
   <tr>
    <td>会员等级:</td>
    <td>
    <select name="dengji">
      {loop $lv $k $v}
      <option value="<?php echo ($k+20);?>" {if ($k+20) == $data['dengji']}selected{/if}>{$v}</option>
      {/loop}
    </select>
    </td>
  </tr>
   <tr>
    <td>是否审核:</td>
    <td>
      
      <input name="jh" type="radio" value="0" {if $data['jh'] == 0}checked{/if}>
      已审核
      <input name="jh" type="radio" value="1" {if $data['jh'] == 1}checked{/if}>
      未审核
      <input name="jh" type="radio" value="2" {if $data['jh'] == 2}checked{/if}><font color="Red">VIP</font>
      <input name="jh" type="radio" value="4" {if $data['jh'] == 4}checked{/if}><b>黑名单</b><font color="Red">&nbsp;（注：对于被设置成黑名单的用户，客服不要告诉客户，如果他们咨询为什么下不了单，就说系统出现故障，被攻击了或其他原因）</font>
    </td>
  </tr>
   <tr>
    <td></td>
    <input type="hidden" name="do" value="yes"/>
    <input type="hidden" name="id" value="{$_GET[0]}"/>
    <td id="bt"><input class="Ybutton" type="submit" value="修改"><input class="Ybutton" type="reset" value="重置"><input class="Ybutton" type="button" value="返回上一页" onclick="javascript:window.history.go(-1);"></td>
  </tr>
</table>
</form>
</div>
</body>
</html>