<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" class="off">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<title>后台管理中心</title>
<link href="__PUBLIC__/css/reset.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/css/table_form.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/css/diy.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/css/zh-cn-system.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/edit/themes/default/default.css" rel="stylesheet" type="text/css"/>
<script language="javascript" type="text/javascript" src="__PUBLIC__/js/jquery.min.js"></script>
<script language="javascript" type="text/javascript" src="__PUBLIC__/js/admin_common.js"></script>
<script language="javascript" type="text/javascript" src="__PUBLIC__/js/diy.js"></script>
</head>
<body>
<style type="text/css">
	html{_overflow-y:scroll}
  .line-x a{border: 1px solid #ccc;padding: 4px 20px;}
  .table-list{color: red;}
</style><div id="closeParentTime" style="display:none"></div>
<div class="pad-10">

<div class="subnav">
    <div class="content-menu ib-a blue line-x">
    <a href="__URL__/reset?action=reset">重置</a>
    </div>
</div>
<div class="table-list">
<p>本功能是最高管理员管理权限被禁止时使用的</p>
<p>只能重置超级管理员组的权限</p>
<p>&nbsp;</p>
<p>建议:超级管理员组只包含admin账户</p>
</div>
</div>
</body></html>